<form name="initiation" data-netlify="true" netlify-honeypot="bot-field" hidden>
  <input type="hidden" name="form-name" value="initiation" />
  <input name="bot-field" />
  <input name="session" />
  <input name="lastname" />
  <input name="firstname" />
  <input name="birthdate" />
  <input name="parentname" />
  <input name="phone" />
  <input name="email" />
  <input name="communication" />
  <input type="checkbox" name="privacy-consent" />
</form>