<footer class="bg-brand-800 text-white text-center overflow-hidden h-96">
  <div class="container mx-auto block relative h-full">
    <div class="relative top-0 left-0 w-full h-full flex items-center justify-center">
      <div class="font-display -skew-x-6 text-[20vw] text-brand-50/5 absolute -top-15 uppercase pointer-events-none select-none">flagmingos</div>
    </div>
  </div>
</footer>
