---
import '@styles/global.css'
import Seo from '@components/Seo.astro'
import ogImage from '@assets/flagmingball.jpg'

interface Props {
  title?: string
  description?: string
}

const {
  title = 'Flagmingos - Flag Football Balma',
  description = 'L’association sportive les Flagmingos de Balma propose la pratique du Flag Football ou Flag, proche de Toulouse, en région Occitanie. Le Flag est un sport collectif mixte, sans contact, accessible dès 7 ans, ouvert à toutes et à tous.',
} = Astro.props
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <Seo title={title} description={description} ogImage={ogImage} />
  </head>

  <body>
    <slot />
  </body>
</html>
