---
interface Props {
  noBackground?: boolean
}
---

<section
  class={`
  ${Astro.props.noBackground ? 'bg-bg' : 'bg-white'} py-14 md:py-20
`}
>
  <div class="mx-auto max-w-295 p-6">
    <slot />
  </div>
</section>
